footer{
    position: absolute;
    background-color: #322a54;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
}
h3{
    font-size: 20px;
    color: #ffffff;
    padding-bottom: 20px;
    padding-top: 10px;
}
.logo{  
    width: 150px;
    height: 150px;
    background-color: #322a54;
    align-content: center;
}
.alunos_rodape{
    font-size: 15px;
    background-color: #322a54;
    color: #ffffff;
    text-align: center;
} 
.alunos_rodape ul li{
    display: block;
}
.texto_rodape{
    font-size: 15px;
    background-color: #322a54;
    color: #ffffff;
    width: 50%;
    text-align: justify;
}
li{
    display: inline-block;
}
ul{
    text-align: center;
}