:root{
    --body: #c4c4c4;
    --cabeca: #ffffff;
    --borda: #0f7491;
    --texto: #000000;
    --verde: #a6ce39;
    --rosa: #ed217c;
    --laranja: #f15a29;
    --roxo: #753874;
    --font: Arial, Helvetica, sans-serif;
}

/*
alterei um pouco aqui também pra ficar como Wisley pediu
*/

.noturno{
    background-color: #1d1830;
    border-radius: 7px;
    border: none;
    width:100px;
    height: 35px;
    color: #ffffff;
    margin: 20px;
    margin-top: 30px;
}

body{
    background-color: var(--body);
    font-family: Arial, Helvetica, sans-serif;
    font-weight: var(--font);
}

footer{
    background-color: #322a54;
    height: 80px;
    font-weight: bold;
}
main{
    margin: 15px 120px;
}


nav {
  background-color: var(--borda);
  margin: 10px 120px;
  border: 5px solid var(--borda);
  border-radius: 10px;
  height: 90px;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 17px;
}

header nav ul li {
    font-size:  1rem;
    list-style-type: none;
    margin: 0 2%;
    padding: 8px;
    border-radius: 7px;
    text-align: justify;
}

header nav ul li a {
    text-decoration: none;
    color: #ffffff;
}
.hamburger {
    opacity: 0;
}
.logo {
    display: none;
}

header section {
    background-color: #322a54;
    width: 100%;
    height: 100px;
    margin-bottom: 32px;
}
h1{
    font-size: 35px;
    padding: 20px 0px;
    color: #ffffff;
    font-weight: bold;
    background-color: var(--borda);
}
p{
    font-size: 20px;
    margin: 30px 0px;
}
select{
    font-size: 17px;
}
.perguntas{
    background-color: var(--cabeca);
    text-align: center;
    border: 5px solid var(--borda);
    border-radius: 10px;
    color: var(--texto);
    margin-bottom: 30px;
}
.button1{
    background-color: var(--verde);
    border: none;
    color: #ffffff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button2{
    background-color: var(--borda);
    color: #ffffff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 1px solid #ffffff;
}
.button3{
    background-color: var(--rosa);
    border: none;
    color: #ffffff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button4{
    background-color: var(--laranja);
    border: none;
    color: #ffffff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button5{
    background-color: var(--roxo);
    border: none;
    color: #ffffff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.cabecalho{
    background-color: var(--borda);
    padding: 10px;
}
li{
    display: inline-block;
}
ul{
    text-align: center;
}
.opcoes{
    padding: 10px;
}
.opcoes label {
    font-size: 17px;
    margin-right: 20px;
}
.proximo {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    padding: 10px;
}
.proximo button{
    background-color: var(--borda);
    border-radius: 7px;
    border: none;
    width: 80px;
    height: 35px;
    float: right;
    margin-right: 20px;
}
.proximo a{
    text-decoration: none;
    color:#ffffff;
    text-align: center;
    font-size: 16px;
}
#box-alimen_p1, #alimentacao_p2{
  border: 2px solid var(--borda);
  border-radius: 10px;
  color: var(--texto);
  background-color: var(--cabeca)
}

/*Responsividade*/

@media(max-width: 442px){

    main{
        margin: 10px 50px;
    }
    .cabecalho{
        display: flex;
    }
    header, footer{
        height: 70px;
    }

    .button1, .button2, .button3, .button4, .button5{
        width: 100%;
    }
    ul{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    h1{
        font-size: 25px;
        padding: 15px 0;
    }

}
