:root{
    --body: #c4c4c4;
    --cabeca: #ffffff;
    --borda: #0f7491;
    --texto: #000000;
    --verde: #a6ce39;
    --rosa: #ed217c;
    --laranja: #f15a29;
    --roxo: #753874;
}
body{
    background-color: var(--body);
    font-family: Arial, Helvetica, sans-serif;
}
header{
    background-color: #322a54;
    height: 70px;
    font-weight: bold;    
}
main{
    background-color: #ffffff;
    width: 100%;
    font-size: 20px;
    height: 400px;
    justify-content: space-between;
    line-height: normal;
}
.cabecalho{
    background-color: #f15a29;
    height: 50px;
    }
h1{
    font-size: 35px;
    padding: 20px 0px;
    color: #ffffff;
    font-weight: bold;
    background-color: var(--borda);
}
footer{
    position: absolute;
    background-color: #322a54;
    height: 200px;
    width: 100%;
    display: flex;
    }
h3{
    font-size: 20px;
    color: #ffffff;
    padding-bottom: 20px;
    padding-top: 10px;
      }
.logo{
    width: 150px;
    height: 150px;
    background-color: #322a54;
    align-content: center;
    float: left;
    margin-top: 20px;
    }
.alunos_rodape{
    font-size: 15px;
    background-color: #322a54;
    color: #ffffff;
    height: 200px;
    width: 300px;
    text-align: center;
    float: right;
}
.texto_rodape{
    font-size: 15px;
    background-color: #322a54;
    color: #ffffff;
    height: 200px;
    width: 800px;
    text-align: left;
    justify-content: space-between;
    line-height: 20px;
    padding-top: 20px;
    padding-left: 20px;
    padding-right: 20px;
    display: left;
}
select{
    font-size: 18px;
}
section{
padding-block: 10px;
}
.perguntas{
    background-color: var(--cabeca);
    text-align: center;
    color: var(--texto);
    padding: 10px;
}
.button1{
    background-color: var(--verde);
    border: none;
    color: #ffffff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button1:hover{
    scale: 90%;
    background-color:#388038
}
.button2{
    background-color: var(--borda);
    border: none;
    color: #ffffff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button2:hover{
    scale: 90%;
    background-color:#79d1ff;
}
.button3{
    background-color: var(--rosa);
    border: none;
    color: #ffffff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button3:hover{
    scale: 90%;
    background-color: #ffb0fc;
}
.button4{
    background-color: var(--laranja);
    border: none;
    color: #ffffff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border: 1px solid #ffffff
}
.button4:hover{
    scale: 90%;
    background-color: #ffad34;
}
.button5{
    background-color: var(--roxo);
    border: none;
    color: #ffffff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button5:hover{
    scale: 90%;
    background-color: #a378a1;
}
.noturno{
    background-color: #1d1830;
    border-radius: 7px;
    border: none;
    width: 80px;
    height: 35px;
    color: #ffffff;
    margin-top: 19px;
    margin-left: 10px;
}
.noturno:hover{
    scale: 90%;
    background-color:#615c6f;
}
li{
    display: inline-block;
}
ul{
    text-align: center;
}
.opcoes{
    padding: 10px;
}
.opcoes label {
    font-size: 18px;
    margin-right: 20px;
}
.proximo {
    background-color: var(--cabeca);
    width: 100%;
    height: 60px;
    padding: 10px;
}
.proximo button{
    background-color: var(--borda);
    border-radius: 7px;
    border: none;
    width: 80px;
    height: 35px;
    float: right;
    margin-right: 20px;
}
.proximo button:hover{
    background-color: #71a0b5;
}
.proximo a{
    text-decoration: none;
    color:#ffffff;
    text-align: center;
    font-size: 16px;
}
#box_consumo_p1, #opcoes{
  border: 2px solid var(--borda);
  margin-top: 10px;
  border-radius: 10px;
  color: var(--texto);
  background-color: var(--cabeca)
}