:root{
    --body: #c4c4c4;
    --cabeca: #ffffff;
    --borda: #0f7491;
    --texto: #000000;
    --verde: #a6ce39;
    --rosa: #ed217c;
    --laranja: #f15a29;
    --roxo: #753874;
}

.noturno{
    background-color: #1d1830;
    border-radius: 7px;
    border: none;
    width: 80px;
    height: 35px;
    color: #ffffff;
    margin-top: 19px;
    margin-left: 10px;
}

body{
    background-color: var(--body);
    font-family: Arial, Helvetica, sans-serif;
}

header, footer{
    background-color: #322a54;
    height: 80px;
    font-weight: bold;
}
main{
    margin: 15px 120px;
}
.cabecalho{
    background-color: var(--cabeca);
    margin-bottom: 20px;
    border: 5px solid var(--borda);
    border-radius: 10px;
}
h1{
    font-size: 35px;
    padding: 20px 0px;
    color: #ffffff;
    font-weight: bold;
    background-color: var(--borda);
}
p{
    font-size: 20px;
    margin: 30px 0px;
}
select{
    font-size: 17px;
}
.perguntas{
    background-color: var(--cabeca);
    text-align: center;
    border: 5px solid var(--borda);
    border-radius: 10px;
    color: var(--texto);
}
.button1{
    background-color: var(--verde);
    border: none;
    color: #ffffff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button2{
    background-color: var(--borda);
    border: none;
    color: #ffffff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button3{
    background-color: var(--rosa);
    border: none;
    color: #ffffff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button4{
    background-color: var(--laranja);
    border: none;
    color: #ffffff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
.button5{
    background-color: var(--roxo);
    border: none;
    color: #ffffff;
    padding: 10px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}
li{
    display: inline-block;
}
ul{
    text-align: center;
}
.opcoes{
    padding: 10px;
}
.opcoes label {
    font-size: 17px;
    margin-right: 20px;
}
.proximo {
    width: 100%;
    height: 60px;
    margin-top: 10px;
    padding: 10px;
}
.proximo button{
    background-color: var(--borda);
    border-radius: 7px;
    border: none;
    width: 80px;
    height: 35px;
    float: right;
    margin-right: 20px;
}
.proximo a{
    text-decoration: none;
    color:#ffffff;
    text-align: center;
    font-size: 16px;
}
#box_consumo_p1, #opcoes{
  border: 2px solid var(--borda);
  border-radius: 10px;
  color: var(--texto);
  background-color: var(--cabeca)
}