body{
    background-color: #c4c4c4;
}

header{
    background-color: #322a54;
    padding: 30px 30px;
    font-weight: bold;
}

.itens1 section{
    background-color: #ffffff;
}

.verde h3{
    background-color: #a6ce39;
}
