@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,300;1,400&display=swap'); 


@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700& family=Muli:ital,wght@0,200;0,300;0,400;0,500;1.200;1.300;1400&display=swap');

:root {
    /* fontes */
     --font1: 'Roboto', sans-serif;
     --font2: "Baloo Da 2", serif;
     --padrao: Arial, Helvetica, sans-serif;

    /* cores modo claro*/
     --cinza: #c4c4c4;
     --branco: #ffffff;

     /* cores botao */
     --azulescuro: #322a54;
     --moradia: #a6ce39;
     --alimentacao: #0f7491;
     --transporte: #ed217c;
     --consumo: #f15a29;
     --residuos: #753874;

     /* cores modo escuro */
     --fundosite: #3E3E3E;
     --fundocabecalho: #252625;

     /* cor do input */
     --corinput: #58595b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font1);
    font-size: 1.1rem;
}

body {
    background-color: var(--cinza);
}

body.dark-mode {
	background-color: var(--fundosite);
	color: #e5e8e8;
}

header section {
    background-color: var(--azulescuro);
    width: 100%;
    height: 100px;
    margin-bottom: 32px;
}

nav {
    background-color: var(--branco);
    height: 70px;
    width: 70%;
    max-width: 1200px;
    margin: 0 auto;
}

header nav ul {
    max-width: 1200px;
    max-width: 1200px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 17px;
}

header nav ul li {
    list-style-type: none;
    margin: 0 32px;
    padding: 8px 12px;
}

header nav ul li a {
    text-decoration: none;
    color: var(--branco);
}

.botao-moradia {
    background-color: var(--moradia);
}
.botao-alimentacao {
    background-color: var(--alimentacao);
}
.botao-transporte {
    background-color: var(--transporte);
}
.botao-consumo {
    background-color: var(--consumo);
}
.botao-residuos {
    background-color: var(--residuos);
}

/* fim da estilizção do cabecalho header */

main {
    height: 700px;
    width: 70%;
    max-width: 1200px;
    background-color: var(--branco);
    margin: 30px auto;
    padding-top: 10px;
}

.dark-light {
    position: fixed;
    top: 132px;
    width: 10%;
    background-color: var(--azulescuro);
    color: var(--branco);
    padding: 5px;
    margin-left: 3%; 
    cursor: pointer;
}

.dark-light:hover {
    background-color: var(--branco);
    color: var(--azulescuro);
}

h2 { 
    width: 80%;
    height: 110px;
    background-color: var(--residuos);
    font-family: var(--font2);
    font-weight: bolder;
    font-size: 2.2rem;
    color: white;
    margin: 20px 30px;
    padding: 24px 48px;
}


.modelo1 {
    max-width: 80%;
    margin: 18px 32px;  
    padding-bottom: 16px;
    border-bottom: 1px dashed var(--corinput); 
}

.modelo1 h4 {
    color: var(--corinput);
    padding: 8px;
}

.label-type {
    color: var(--corinput);
    margin-bottom: 15px;
}

.modelo1 input{
    width: 1rem;
    height: 1rem;
    margin: 8px 5px;
    border-bottom: 1px dashed var(--corinput); 
}

/* fim do modelo1 */

.modelo2 {
    max-width: 80%;
    margin: 18px 32px;  
    padding-bottom: 16px;
    border-bottom: 1px dashed var(--corinput); 
}

.modelo2 h4 {
    color: var(--corinput);
    padding: 8px;
}

.modelo2 label{
    color: var(--corinput);
    padding: 0px 8px 0 8px;
    margin-bottom: 15px;
}

 .label-type{
    width: 1rem;
    height: 1rem;
    margin: 8px 5px;
}

/* fim do modelo2 */

.modelo3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin: 18px 32px; 
    padding-bottom: 16px; 
    border-bottom: 1px dashed var(--corinput); 
}

.modelo3 h4 {
    color: var(--corinput);
    padding: 8px;
}

.modelo3 select {
    width: 30%;
    background-color: rgba(0, 0, 0, 0.192);
    font-size: 1.2rem;
    padding: 5px;
    margin-right: 30px;
    border: 0 none;
    outline: 0;
}

.modelo3 select:focus-visible {
    border: 1px solid rgba(0, 0, 0, 0.192);
}

.modelo3 select:hover{
    border: 1px solid rgba(0, 0, 0, 0.192);
    font-size: 1.2rem;
    padding: 8px;
}

/* fim do modelo3 */


aside {
    display: flex;
    align-items: center;
    max-width: 80%;
    margin: 18px 24px;
}

aside h4 {
    color: var(--corinput);
    padding: 12px;
}

.input-text {
    width: 30%;
    background-color: rgba(0, 0, 0, 0.199);
    font-size: 1.2rem;
    padding: 5px;
    border: 0 none;
    outline: 0;
    margin-left: 50px;
}

.input-text:focus {
    border: 1px solid rgba(0, 0, 0, 0.199);
}

.input-text:hover{
    border: 1px solid rgba(0, 0, 0, 0.199);
    font-size: 1.2rem;
    padding: 8px;
}

/* fim do aside */

.btn-envio {
    position: absolute;
    top: 800px;
    left: 970px;
    width: 13%;
    background-color: var(--azulescuro);
    color: var(--branco);
    padding: 10px;
    cursor: pointer;
}

.btn-envio:hover{
    padding: 12px;
    background-color: var(--cinza);
    color: var(--azulescuro);
    border: 1px solid rgba(0, 0, 0, 0.199);
}

footer {
    background-color: var(--azulescuro);
    width: 100%;
    height: 100px;

}

footer.dark-mode {
	background-color: #8d9797;
	color: var(--fundocabecalho);
}