* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root {
    --transporte:#ED217C;
}
header {
    width: 100%;
    height: 100px;
    background-color: #322954;
    position: relative;
}
.darkM {        
    width: fit-content;
    position: absolute;
    padding: 5px;    
    cursor: pointer;
    top: 60px;
    left: 120px;
}
main {
    padding: 20px 100px;
    background-color: #C4C4C4;
}
a {
    color: white;
    text-decoration: none;
}
.bb{
    /* border: black solid 1px; */
}
.SectionTop {
    width: 100%;
    background-color: white;    
    padding: 22px 0px;
    margin: auto;
    box-shadow: rgba(0, 0, 0, 0.286) 0px 10px 20px 0px;   
}
.paginas {
   justify-content: space-between;   
   margin: auto;  
}
.paginas table {
    width: 95%;
    margin: auto;
    
    
}
.paginas table tr {
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    
    
}
.paginas table tr td button{
    
    padding: 11px 40px;    
    margin: 5px 20px;    
    
   
}
/* botões */
.overButton {
    color: white;
    border: none;
}
.moradia {
    background-color: #8DC641;    
}
.alimentacao {
    background-color: #1E7491;    
}
.transporte {
    background-color: #ED217C;    
}
.consumo {
    background-color: #F15A29;    
}
.residuos {
    background-color: #753875;    
}
.overButton:hover {
    cursor: pointer;;
}
/* Fim botões */
.ativo {
    box-shadow: #ED217C 0px 0px 10px 0px;
    background-color: #ed217d;
    border: #ED217C solid 1px;
}

.titleTransporte {
    background-color: var(--transporte);
    width: fit-content;
    padding: 10px;
    font-size: 25px;
    color: white;
}
.questions {
    background-color: white;
    margin: 20px 0;
    padding: 20px;
}
.perguntas h2 {
    font-size: 20px;
    color: #838383;
}
.selectV {
    width: 200px;
    text-align: center;
    font-size: 20px;
}





footer {
    width: 100%;
    height: 100px;
    background-color: #322954;
}




