:root{
    --body: #c4c4c4;
    --cabeca: #ffffff;
    --texto: #000000;

    --verde: #a6ce39;
    --azul: #0f7491;
    --rosa: #ed217c;
    --laranja: #f15a29;
    --roxo: #753874;
}
.noturno{
    background-color: #1d1830;
    border-radius: 7px;
    border: none;
    width: 100px;
    height: 40px;
    color: #ffffff;
    margin-top: 28px;
    margin-left: 19px;
}
.logo_rodape{
    margin-top: 40px;
    width: 170px;
    height: 170px;
    background-color: #322a54;
    align-content: center;
}
.alunos_rodape{
    font-size: 15px;
    background-color: #322a54;
    text-align: right;
}
.text{
    color: #ffffff;
}
.text1{
    text-align: center;
}
.text2{
    text-align: left;
}
.alunos_rodape ul li{
    display: block;
}
.texto_rodape{
    margin-top: 54px;
    font-size: 15px;
    background-color: #322a54;
    color: #ffffff;
    width: 50%;
    text-align: justify;
}
.cor1{
    color: #00bfff;
}
.cor2{
    color: #00ff87;
}
a, p{
    text-decoration: none;
    line-height: 17px;
    color: var(--texto);
}
p{
    letter-spacing: 4px;
    line-height: 25px;
}
body{
    background-color: var(--body);
    font-family: Helvetica;
}
footer{
    position: absolute;
    background-color: #322a54;
    height: 290px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
}
header{
    height: 85px;
}
.estilo{
    background-color: #322a54;
    font-weight: bold;
    height: 100px;
}
main{
    margin-top: 10px;
    margin: 32px 195px;
    height: 1130px;
}
h1{
    font-size: 35px;
    padding: 28px 0px;
    color: #ffffff;
    font-weight: bold;
    background-color: #322a54;
    text-align: center;
}
h2{
    font-size: 20px;
    color: #ffffff;
    padding-bottom: 20px;
    padding-top: 10px;
}
p{
    margin: 40px 0px;
    padding: 1px 20px;
}
select{
    font-size: 17px;
}
.logo img{
    width: 100%;
    height: auto;

}
.logo{
    float: right;
    width: 80px;
    height: auto;
    display: block;
}
li{
    display: inline-block;
    color: #ffffff;
}
.ul{
    text-align: center;
}
.main{
    background-color: var(--cabeca);
    width: 70%;
    margin: 0 auto;
    border: 5px solid #322a54;
    border-radius: 10px;
    height: 1130px;
    margin-top: 13px;
}
.proximo{
    width: 100%;
    height: 60px;
    margin-top: 70px;
    padding: 15px;
}
.proximo button{
    background-color: #322a54;
    border-radius: 7px;
    border: none;
    padding: 15px;
    margin: 0 200px;
}
.proximo a{
    text-decoration: none;
    color:#ffffff;
    text-align: center;
    font-size: 16px;
}
.texto_main{
    margin: 10px;
    font-size: 19px;
    color: var(--texto);
    text-align: left;
    font-size: 23px;
}
.perguntas{
    font-weight: bold;
}
