@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,900;1,300;1,400&display=swap'); 


@import url('https://fonts.googleapis.com/css2?family=Baloo+Da+2:wght@400;500;600;700& family=Muli:ital,wght@0,200;0,300;0,400;0,500;1.200;1.300;1400&display=swap');

:root {
    /* fontes */
     --font1: 'Roboto', sans-serif;
     --font2: "Baloo Da 2", serif;
     --padrao: Arial, Helvetica, sans-serif;

    /* cores modo claro*/
     --cinza: #c4c4c4;
     --branco: #ffffff;
     --black: #333;

     /* cores botao */
     --azulescuro: #322a54;
     --moradia: #a6ce39;
     --alimentacao: #0f7491;
     --transporte: #ed217c;
     --consumo: #f15a29;
     --residuos: #753874;

     /* cores modo escuro */
     --fundosite: #3E3E3E;
     --fundocabecalho: #252625;

     /* cor do input */
     --corinput: #58595b;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: var(--font1);
    font-size: 1.1rem;
}

body {
    background-color: var(--cinza);
    height: 100vh;
}

header section {
    background-color: var(--azulescuro);
    width: 100%;
    height: 100px;
    margin-bottom: 32px;
}

.color-model {
    width: 9.5rem;
    background-color: var(--fundosite);
    border: none;
    border-radius: 20px;
    color: var(--branco);
    padding: 5px;
    margin: 35px 0 0 30px; 
    cursor: pointer; 
}

.color-model:hover {
    background-color: var(--branco);
    color: var(--azulescuro);
}

.hamburger {
    opacity: 0;
}

nav {
    background-color: var(--residuos);
    height: 70px;
    width: 70%;
    max-width: 1200px;
    border-radius: 5px;
    margin: 0 auto;
}

header nav ul {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding-top: 17px;
}

header nav ul li {
    font-size:  1rem;
    list-style-type: none;
    margin: 0 2%;
    padding: 8px;
    border-radius: 7px;
    text-align: justify;
}

header nav ul li a {
    text-decoration: none;
    color: var(--branco);
}

.botao-moradia {
    background-color: var(--moradia);
}

.botao-alimentacao {
    background-color: var(--alimentacao);
}

.botao-transporte {
    background-color: var(--transporte);
}

.botao-consumo {
    background-color: var(--consumo);
}

.botao-residuos {
    border: 1px solid #fff;
    background-color: var(--residuos);
}

.botao-residuos:focus-within {
    border-radius: 5px;
    border: 2px solid var(--branco);
    transition: 1s;
}

.botao-residuos span:focus-within{
    display: none;
}

.logo {
    display: none;
}

/* fim da estilizção do cabecalho header */

main {
    border: 5px solid var(--residuos);
    height: 740px;
    width: 70%;
    max-width: 1200px; 
    background-color: var(--branco);
    border-radius: 15px;
    margin: 30px auto;
}

h2 { 
    width: 100%;
    height: 110px;
    background-color: var(--residuos);
    font-family: var(--font2);
    font-weight: bolder;
    font-size: 2.2rem;
    color: white;
    /*border-radius: 6px;*/
    padding: 24px 48px;
    text-align: center;
}


.modelo1 {
    max-width: 80%;
    margin: 18px 32px;  
    padding-bottom: 16px;
    border-bottom: 1px dashed var(--corinput); 
}

.modelo1 h4 {
    color: var(--corinput);
    padding: 8px;
}

.label-type {
    color: var(--corinput);
    margin-bottom: 15px;
}

.modelo1 input{
    width: 1rem;
    height: 1rem;
    margin: 8px 5px;
    border-bottom: 1px dashed var(--corinput); 
    cursor: pointer;
}

/* fim do modelo1 */

.modelo2 {
    max-width: 80%;
    margin: 18px 32px;  
    padding-bottom: 16px;
    border-bottom: 1px dashed var(--corinput); 
}

.modelo2 h4 {
    color: var(--corinput);
    padding: 8px;
}

.modelo2 label{
    color: var(--corinput);
    padding: 0px 8px 0 8px;
    margin-bottom: 15px;
}

 .label-type{
    width: 1rem;
    height: 1rem;
    margin: 8px 5px;
    cursor: pointer;
}

/* fim do modelo2 */

.modelo3 {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 80%;
    margin: 18px 32px; 
    padding-bottom: 16px; 
    border-bottom: 1px dashed var(--corinput); 
    cursor: pointer;
}

.modelo3 h4 {
    color: var(--corinput);
    padding: 8px;
}

.modelo3 select {
    width: 290px;
    background-color: rgba(0, 0, 0, 0.192);
    font-size: 1.2rem;
    padding: 5px;
    margin-right: 30px;
    border: 0 none;
    outline: 0;
    cursor: pointer;
    transition: .3s;
}


.modelo3 select:focus-visible {
    border: 1px solid rgba(0, 0, 0, 0.192);
}

.modelo3 select:hover{
    border: 1px solid rgba(0, 0, 0, 0.192);
    font-size: 1.2rem;
    transition: .3s;
}

/* fim do modelo3 */


aside {
    display: flex;
    align-items: center;
    max-width: 80%;
    margin: 18px 24px;
}

aside h4 {
    color: var(--corinput);
    padding: 12px;
}

.input-text {
    width: 260px;
    background-color: rgba(0, 0, 0, 0.199);
    font-size: 1.2rem;
    padding: 5px;
    border: 0 none;
    outline: 0;
    margin-left: 50px;
}

.input-text:focus {
    border: 1px solid rgba(0, 0, 0, 0.199);
}

.input-text:hover{
    border: 1px solid rgba(0, 0, 0, 0.199);
    font-size: 1.2rem;
}

/* fim do aside */

.btn-submit {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin: 3rem 12rem;
}

.btn-envio {
    min-width: 25%;
    background-color: var(--azulescuro);
    color: var(--branco);
    padding: 10px;
    cursor: pointer;
    transition: .2s;
}

.btn-envio:hover{
    padding: 12px;
    background-color: var(--cinza);
    color: black;
    border: 1px solid rgba(0, 0, 0, 0.199);
    transition: .2s;
}

footer {
    background-color: var(--azulescuro);
    width: 100%;
    height: 100px;
}

/* responsividade */

@media (max-width: 1050px) {
    header nav ul li {
        margin-bottom: 10px;
        width: 150px;
        padding: 5px;
        border-radius: 7px;
    }
    
    .botao-moradia {
        text-align: center;
    }   

    .botao-alimentacao {
        text-align: center;
    }

    .botao-transporte {
        text-align: center;
    }

    .botao-consumo {
        text-align: center;
    }

    .botao-residuos {
        text-align: center;
    }

    main {
        height: 800px;
    }
    
    .modelo3 {
        display: flex;
        flex-wrap: wrap;
        margin-top: 20px; 
        margin-bottom: 20px;
    }

    .modelo3 select {
        margin-top: 10px;
        margin-left: 5px;
    }

    aside {
        display: flex;
        flex-wrap: wrap;
    }

    .input-text {
        display: block;
        margin-left: 14px;
        margin-top: 10px;
    }

    .btn-submit {
        margin-right: 90px;
    }
}

@media (max-width: 915px) {
     main {
        height: 1000px;
    }

    h4 {
        text-align: justify;
    }

    .modelo1 label{
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;
        width: 100%;
        margin: 10px 10px;
    }

    .modelo1 input{
        width: 1rem;
        height: .7rem;
        margin: 6px;
        border-bottom: 1px dashed var(--corinput); 
        cursor: pointer;
    }

    .modelo2 label{
        display: flex;
        flex-direction: row; 
        flex-wrap: wrap;
        width: 100%;
        margin: 2px 0px;
    }

    .modelo2 input{
        width: 1rem;
        height: .7rem;
        margin: 6px;
        border-bottom: 1px dashed var(--corinput); 
        cursor: pointer;
    }
    .modelo3 select {
        cursor: pointer;
    }
}

@media (max-width: 890px) {
    
    header nav ul li {
        margin: 0 1%;
        padding: 5px;
    }

    header nav ul li a {
        font-size: .9rem;
    }
    
}


@media (max-width: 820px) {
    main {
        height: 1079px;
    }

    h4 {
        font-size: 1rem;
        line-height: 1.7rem;
    }

    label {
        font-size: .9rem;
    }

    .modelo3 select {
        width: 70%;
        font-size: 1rem;
        cursor: pointer;
    }
    
    .modelo3 select:hover {
        font-size: 1rem;
        padding: 5px;
    }

    .input-text {
        width: 70%;
        font-size: 1rem;
    } 

    .input-text:hover {
        width: 70%;
        font-size: 1rem;
    } 

    .btn-submit {
        display: flex;
        justify-content: right;
        margin: 32px 40px;
    }

    .btn-envio  {
        padding: 4px 8px;
    }
}

@media (max-width: 760px) {
    
    header nav ul li {
        margin: 0 1%;
        padding: 4px;
    }

    header nav ul li a {
        font-size: .8rem;
    }
    
}

 @media (max-width: 580px) {
     header section{ 
         margin-bottom: 0;
     }

    .hamburger {
        width: 2rem;
        height: 2rem;
        position: absolute; 
        opacity: 100;
        right: 1rem;  
        top: 2rem;  
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        cursor: pointer;
    }
    
    .hamburger.show-menu {
        right: 2rem;
    }
    
    .line {
        width: 100%;
        height: .2rem;
        background-color:  #fff;
        box-shadow: 0.1rem 0.1rem 1px #000;
        transition: transform 1s;
    }
    
    .show-menu .line:nth-child(1){
        transform: rotate(-45deg) translate(.5rem, 1.4rem);
    }
    
    .show-menu .line:nth-child(2){
        opacity: 0;
    }
    
    .show-menu .line:nth-child(3){
        transform: rotate(45deg) translate(.6rem, -1.4rem);
    }
    
    nav {
        display: none;
    }

    header nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 3.5rem;
        border-radius: 5px;
        text-align: justify;
    } 

    header nav.show-menu{
        height: 90vh;
        width: 100%;
    }

    nav.show-menu {
        display: block;
    }

    nav.show-menu ul li  {
        padding: .8rem;
    }

    nav.show-menu ul li a {
        font-size: 1.3rem;
    }

    header nav ul li:nth-child(6) {
        margin: 0 0 20px 30px;
        padding: 0;
    }

    .logo {
        display: block;
    }

    nav.show-menu ul li img {
        width: 100px;
    }

    main {
        height: 1180px;
    }
}  

@media (max-width: 442px) {

    main {
        height: 1255px;
    }

    h2 {
        height: 80px;
        font-size: 1.8rem;
        padding: 15px;
    }

    h4 {
        font-size: .9rem;
        text-align: start;
    }

    .label-type {
        font-size: .8rem;
    }

    .modelo3 select {
        width: 80%;
        font-size: .8rem;
        cursor: pointer;
    }
    
    .modelo3 select:hover {
        font-size: .8rem;
        padding: 5px;
    }

    .input-text {
        font-size: .9rem;
        padding: 5px;
        width: 70%;
    }

    .input-text:hover {
        font-size: .8rem;
        padding: 6px;
    }

    .btn-submit {
        display: flex;
        margin-left: 27px;
        width: 70%;
        padding: 3px;
    }

    .btn-evio {
        padding: 3px;
    }
}


/* estialização do modo light e dark-mode */

body.change-color {
    background-color: var(--fundosite);
}

nav.change-color {
    background-color: var(--fundocabecalho);
}

/* main modo light e dark mode */
.container.change-color {
    background-color: var(--fundocabecalho);
}

.container.change-color h2{
    font-weight: 600;
    color: var(--branco);
}

.container.change-color h4{
    font-weight: 400;
    color: var(--branco);
}

.container.change-color label{
    color: var(--branco);
    font-weight: 300;
}

.container.change-color select {
    background-color: var(--branco);
}

.container.change-color .input-text {
    background-color: var(--branco);
}

.container.change-color .input-text::placeholder{
    background-color: var(--branco);
    color: var(--black);
}
/* fim do modo light e dark mode */