* {
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}
:root {
    --transporte:#ED217C;
    --perguntas:rgb(40, 40, 40);
}

header {
    width: 100%;
    height: 100px;
    background-color: #322954;
    
    
}
.darkM {        
    width: fit-content;
    position: absolute;
    padding: 5px;    
    cursor: pointer;
    top: 29px;
    left: 31px;
}
main {
    
    padding: 20px 100px;
    background-color: #C4C4C4;
}
button {
    font-size: 20px;
    padding: 2px;
}
a {
    color: white;
    text-decoration: none;
    font-size: 20px;
}
.bb{
    /* border: black solid 1px; */
}
.SectionTop {
    width: 85%;
    background-color: var(--transporte);    
    padding: 12px 0px;
    margin: auto;
    border-radius: 8px;
    
    
    
}

.paginas {
   justify-content: space-between;   
   margin: auto;  
}

.paginas table {
    width: 95%;
    
    margin: auto;    
}
.perguntas table {
    margin-bottom: 20px;
}
.paginas table tr td button{
    
    padding: 6px 10px;    
    margin: 5px 20px;     
    border-radius: 8px;   
   
}
.menuMob {
    display: none;
}
.paginas table tr {
    width: 100%;
    margin: auto;
    flex-wrap: wrap;
    display: flex;
    justify-content: space-between;
    }
    
/* botões */
.overButton {
    color: white;
    border: none;
    transition: 200ms;
}
.overButton:hover {
    filter: brightness(120%);
}
.moradia {
    background-color: #8DC641;    
}
.alimentacao {
    background-color: #1E7491;    
}
.transporte {
    background-color: #ED217C;    
}
.consumo {
    background-color: #F15A29;    
}
.residuos {
    background-color: #753875;    
}
.overButton:hover {
    cursor: pointer;;
}
/* Fim botões */
.ativo {
    box-shadow: #ED217C 0px 0px 10px 0px;
    background-color: #ed217d;
    border: #ffffff solid 1px;
    
}

.titleTransporte {
    background-color: var(--transporte);
    width: 100%;
    padding: 8px;
    font-size: 23px;
    color: white;
    margin-bottom: 10px;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    font-weight: 800;
    
}
.questions {
    width: 85%;
    background-color: #ED217C;
    border-radius: 8px;
    margin: 20px auto;
    padding: 10px 3px;
   
    
}
.perguntas {
    background-color: white;
    padding: 10px;
    border-radius: 1px;
    text-align: inherit;
    padding-left: 10px;
}
.perguntas h2 {
    color: var(--perguntas);
    font-size: 20px;
    
}

.selectV {
    border-radius: 8px;
    border: none;
    margin: 10px auto;
    height: 35px;
    background-image:linear-gradient(to bottom, #ed217d74, rgb(202, 202, 202), #ed217d71);
    width: 200px;
    
    text-align: center;
    font-size: 20px;
}

.contain_button button{
    padding: 11px 40px;    
    margin: 5px 20px; 
    margin-left: 80%;
    border: white 1px solid;
}
.proximo {
    color: white;
    border: none;
    cursor: pointer;
}

footer{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    background-color: #322a54;
    min-height: 250px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 2% 5%;
    line-height: 1.3rem;
}
h3{
    font-size: 20px;
    color: #ffffff;
    padding-bottom: 20px;
    padding-top: 10px;
}
.logo {  
    width: 150px;
    height: 150px;
    background-color: #322a54;
    align-content: center;
}
.alunos_rodape{
    font-size: 15px;
    background-color: #322a54;
    color: #ffffff;
    text-align: center;
} 
.alunos_rodape ul li{
    display: block;
}
.texto_rodape{
    font-size: 15px;
    background-color: #322a54;
    color: #ffffff;
    width: 50%;
    text-align: justify;
}
li{
    display: inline-block;
}
ul{
    text-align: center;
}
@media (max-width: 800px) {
    
    main {
        padding: 0;
        margin: 0;
    }
    .paginas {
        width: 100%;
        padding:0px;
    }
    .paginas table tr td button {
        padding: 14px;
        margin: 7px 13px;
        width: 320px;
    }
    .contain_button button {
       margin-left: 46%;
}
@media (max-width: 768px) {
        footer {
        width: 100%;
        flex-wrap: wrap;    
        height: auto;
        
        }
        .logo {
            width: 100px;
            height: 100px;
        }
        .texto_rodape {
            width: 100%;
        }
        .alunos_rodape {
            width: 100%;
        }
        .paginas table tr {
            display: flex;
        }
       
    }
}


@media (max-width: 743px) {
    main {
        padding: 0;
        margin: 0;
    }
    .paginas {
        width: 100%;
        padding:0px;
    }
    .paginas table tr td button {
        padding: 14px;
        
        margin: 7px 13px;
        width: 320px;
    }
    .contain_button button {
       margin-left: 46%;
    }
    
    .menuMob {
        display: block;
        font-size: 50px;
        cursor: pointer;
        color: #ffffff;
    }
    
    .paginas table tr {
        display: none;
    }
    
    
}
.dblock {
    display: block;
}
.dNone {
    display: none;
}



